/* */
/*
     FILE ARCHIVED ON 17:18:32 Feb 14, 2019 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 20:38:55 Jul 15, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 59.782
  exclusion.robots: 0.068
  exclusion.robots.policy: 0.059
  cdx.remote: 0.053
  esindex: 0.008
  LoadShardBlock: 32.403 (3)
  PetaboxLoader3.datanode: 66.66 (5)
  load_resource: 540.928 (2)
  PetaboxLoader3.resolve: 487.477 (2)
*/