a.new
{
	color: red;
}

.editsection
{
	float: right;
}

/*
     FILE ARCHIVED ON 13:15:42 Sep 03, 2013 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 21:16:56 Jul 15, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 82.545
  exclusion.robots: 0.135
  exclusion.robots.policy: 0.123
  RedisCDXSource: 3.117
  esindex: 0.008
  LoadShardBlock: 59.314 (3)
  PetaboxLoader3.datanode: 88.821 (5)
  load_resource: 154.233 (2)
  PetaboxLoader3.resolve: 48.465
*/