a.new
{
	color: red;
}

.editsection
{
	float: right;
}

/*
     FILE ARCHIVED ON 21:08:05 Oct 04, 2013 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 21:16:12 Jul 15, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 223.923
  exclusion.robots: 0.066
  exclusion.robots.policy: 0.057
  cdx.remote: 0.061
  esindex: 0.012
  LoadShardBlock: 199.174 (3)
  PetaboxLoader3.datanode: 211.4 (5)
  load_resource: 166.992 (2)
  PetaboxLoader3.resolve: 67.051 (2)
*/