/* */
/*
     FILE ARCHIVED ON 17:18:32 Feb 14, 2019 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 20:28:56 Jul 15, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 92.648
  exclusion.robots: 0.127
  exclusion.robots.policy: 0.116
  cdx.remote: 0.074
  esindex: 0.012
  LoadShardBlock: 59.634 (3)
  PetaboxLoader3.datanode: 94.254 (5)
  load_resource: 157.342 (2)
  PetaboxLoader3.resolve: 68.376 (2)
*/