a.new
{
	color: red;
}

.editsection
{
	float: right;
}

/*
     FILE ARCHIVED ON 00:16:13 Aug 17, 2016 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 20:50:41 Jul 15, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 248.741
  exclusion.robots: 0.128
  exclusion.robots.policy: 0.116
  cdx.remote: 0.087
  esindex: 0.012
  LoadShardBlock: 217.775 (3)
  PetaboxLoader3.datanode: 242.188 (5)
  load_resource: 95.682 (2)
  PetaboxLoader3.resolve: 66.56 (2)
*/