a.new
{
	color: red;
}

.editsection
{
	float: right;
}

/*
     FILE ARCHIVED ON 13:55:24 Aug 17, 2011 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 21:56:53 Jul 15, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 146.882
  exclusion.robots: 0.063
  exclusion.robots.policy: 0.054
  cdx.remote: 0.052
  esindex: 0.008
  LoadShardBlock: 123.648 (3)
  PetaboxLoader3.datanode: 88.825 (4)
  load_resource: 328.239
  PetaboxLoader3.resolve: 268.202
*/