/* */
/*
     FILE ARCHIVED ON 13:22:34 Apr 25, 2012 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 20:17:18 Jul 15, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 2135.93
  exclusion.robots: 0.065
  exclusion.robots.policy: 0.057
  cdx.remote: 0.082
  esindex: 0.009
  LoadShardBlock: 2107.61 (3)
  PetaboxLoader3.datanode: 73.192 (4)
  PetaboxLoader3.resolve: 1755.462 (3)
  load_resource: 528.797
*/