a.new
{
	color: red;
}

.editsection
{
	float: right;
}

/*
     FILE ARCHIVED ON 21:08:05 Oct 04, 2013 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 21:23:35 Jul 15, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 140.638
  exclusion.robots: 0.066
  exclusion.robots.policy: 0.057
  cdx.remote: 0.049
  esindex: 0.009
  LoadShardBlock: 116.424 (3)
  PetaboxLoader3.datanode: 130.654 (5)
  load_resource: 148.573 (2)
  PetaboxLoader3.resolve: 99.862 (2)
*/