body 
{   	
	background-image: url(/web/20121120123630im_/http://guide.parallelkingdom.com/pkwebtheme/images/pk_forum_bg_image.jpg);
	background-repeat: repeat-x;
	background-color: black;	
	color: white;
	font-size: 12px;
	font-weight: normal;
	font-family:  arial, sans-serif;
	margin: 0;
	padding: 0;
	border: 0;
}

a:link, a:visited, a:active
{
    color: #F2E180; 
}

a:hover
{
    color: #FFCC33;
}

img 
{
    border-style: none;
}

h1 
{
    padding: 0px 0px 15px 0px;
    font-variant: small-caps;
    font-size: 28px;
    margin:0px;
    border:0px;
    font-weight:bold;
}

h1, h1 a:link, h1 a:visited, h1 a:hover
{
    color: #FFFFFF;
}

.header-sidelink, .header-sidelink:link
{
	color: rgb(66, 164, 254);
	font-size: 12px;
	font-variant: normal;
}

h2
{
    font-weight: bold;
    font-size: 17px;
}

h2, h2 a:link, h2 a:visited, h2 a:hover
{
    color: #FFCC33;
}

h3
{
    color:Gray;
    font-size: 12px;
    font-weight:normal;
    padding:0px;
    margin:0px;
}

#pk_header
{
	height: 185px;
}

#HomePageLink1
{
    position: absolute;
    z-index: 10; 
    display: block; 
    width: 513px; 
    height: 113px; 
    margin-top: 26px; 
    bottom: 475px;
    top: 17px;
    }
    
#HomePageLink2
{
    position: absolute;
    z-index: 10; 
    display: block; 
    width: 290px; 
    height: 31px; 
    top: 21px; 
    }      

.pk_header_image
{
	background-image: url(/web/20121120123630im_/http://guide.parallelkingdom.com/pkwebtheme/images/pk_logo_form_page.png);
	height: 87px;
	width: 284px;
	margin: 0;
	padding: 0;
	border: 0;
	position: absolute;
	top: 109px;
	left: 10px;
	display: block;
	background-repeat: no-repeat;
	
}

#pk_main_content 
{
	padding: 20px;
	padding-top:10px;
	padding-left:20px; 
	text-align:left;
}

#pk_menu
{
	position:absolute;
	border: solid 0px;
	top:0px;
	left:265px;
	height:auto;
	width:755px;
	display:block;
	z-index:10;
}

#pk_menu #pk_menu_left
{
	background-image: url(/web/20121120123630im_/http://guide.parallelkingdom.com/pkwebtheme/images/menu_left.png);
	height: 42px;
	width: 37px;
	margin: 0;
	padding: 0;
	border: 0;
	float: left;
	display: block;
}

#pk_menu #pk_menu_middle 
{
	background-image: url(/web/20121120123630im_/http://guide.parallelkingdom.com/pkwebtheme/images/menu_middle.png);
	background-repeat: repeat-x;
	height: 42px;
	width: 610px;
	margin: 0;
	padding: 0;
	border: 0;
	float: left;
	display: block;
}

#pk_menu #pk_menu_right 
{
	background-image: url(/web/20121120123630im_/http://guide.parallelkingdom.com/pkwebtheme/images/menu_right.png);
	background-repeat: no-repeat;
	height:42px;
	width:23px;
	margin: 0;
	padding: 0;
	border: 0;
	float: left;
	display:block;
}

#pk_menu #pk_menu_middle ul
{
	list-style: none;
	margin: 0;
	padding: 0;
	border: 0;
}

#pk_menu #pk_menu_middle li
{
	font-variant:normal;
	font-size:15px;
	text-decoration:none;
	background-repeat: repeat-x;
	height:auto;
	padding:8px 3px 0 10px;
	float:left;
	border:0px;
	display:block;
	font-weight:bold;
}

#pk_menu #pk_menu_middle a:link {
	color: white;
	text-decoration:none;
	margin: 0;
	padding: 0;
	border: 0;
}
#pk_menu #pk_menu_middle a:visited {
	color: white;
	text-decoration:none;
	margin: 0;
	padding: 0;
	border: 0;
}
#pk_menu #pk_menu_middle a:hover {
	color:  #3D9AB4;
	text-decoration:none;
	margin: 0;
	padding: 0;
	border: 0;
}
#pk_menu #pk_menu_middle a:active {
	color: #3D9AB4;
	text-decoration:none;
	margin: 0;
	padding: 0;
	border: 0;
}

#pk_footer_menu_middle
{
	display: none;
}

#pk_footer 
{
    font-size: 10pt;
    color:Gray;
    text-align: center;
    height: 20px;
}


/* BUTTONS */
.pk_moreButton .leftCap
{    
    background: url('/web/20121120123630im_/http://guide.parallelkingdom.com/pkwebtheme/images/more_button_left_cap.png');
    width: 7px;
    height: 33px;
    float: left;
	z-index: auto;
	margin-top:-45px;
	margin-left:15px;
	background-repeat:no-repeat;
}

.pk_moreButton:hover .leftCap
{    
    background: url('/web/20121120123630im_/http://guide.parallelkingdom.com/pkwebtheme/images/more_button_left_cap.png') 0px -33px;
	z-index: auto;
	margin-top:-45px;
	background-repeat:no-repeat;
	margin-left:15px;
}

.pk_moreButton .middleTile
{    
    background: url('/web/20121120123630im_/http://guide.parallelkingdom.com/pkwebtheme/images/more_button_middle_tile.png');
    height: 33px;
	width:86px;
    background-repeat: repeat-x;
    float: left;
	margin-top:-45px;
	margin-left:22px;
}

.pk_moreButton:hover .middleTile
{    
    background: url('/web/20121120123630im_/http://guide.parallelkingdom.com/pkwebtheme/images/more_button_middle_tile.png') 0px -33px;
	margin-top:-45px;
	height: 33px;
	width:86px;
	margin-left:22px;
	
}

.pk_moreButton .rightCap
{    
    background: url('/web/20121120123630im_/http://guide.parallelkingdom.com/pkwebtheme/images/more_button_right_cap.png') ;
    width: 7px;
    height: 33px;
    float: left;
	margin-top:-45px;
	background-repeat:no-repeat;
	margin-left:108px;
}

.pk_moreButton:hover .rightCap
{    
    background: url('/web/20121120123630im_/http://guide.parallelkingdom.com/pkwebtheme/images/more_button_right_cap.png') 0px -33px;
	z-index: auto;
	margin-top:-45px;
	background-repeat:no-repeat;
	margin-left:108px;
}

.pk_moreButton .buttonText
{
    padding-left: 10px;
    padding-right: 10px;
    display: inline-block;
	z-index: auto;
	margin-top:9px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: bold;
	font-size: 12px;
	color: #441700;
	text-shadow: 0px 1px 0px #E29D19;
	text-decoration: none;
}

.pk_moreButton .pk_moreButton_arrow
{
    display: inline-block;
    margin-top: 6px;
    float: right;
    margin-left: -5px;
    margin-right: 5px;
	z-index: auto;

}

.pk_moreButton .pk_moreButton_arrow_left
{
    display: inline-block;
    margin-top: 6px;
    float: left;
    margin-right: -5px;
    margin-left: 5px;
}

.pk_moreButton_text
{
    text-decoration: none;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: bold;
	font-size: 12px;
	color: #441700;
	text-shadow: 0px 1px 0px #E29D19;
}


/*
     FILE ARCHIVED ON 12:36:30 Nov 20, 2012 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 21:42:20 Jul 15, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 92.652
  exclusion.robots: 0.065
  exclusion.robots.policy: 0.057
  RedisCDXSource: 1.248
  esindex: 0.007
  LoadShardBlock: 72.707 (3)
  PetaboxLoader3.datanode: 77.74 (4)
  load_resource: 58.094
  PetaboxLoader3.resolve: 25.463
*/