a.new
{
	color: red;
}

.editsection
{
	float: right;
}

/*
     FILE ARCHIVED ON 12:36:29 Nov 20, 2012 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 21:42:20 Jul 15, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 122.199
  exclusion.robots: 0.065
  exclusion.robots.policy: 0.057
  cdx.remote: 0.05
  esindex: 0.008
  LoadShardBlock: 84.16 (3)
  PetaboxLoader3.datanode: 75.585 (4)
  load_resource: 213.254
  PetaboxLoader3.resolve: 186.359
*/