a.new
{
	color: red;
}

.editsection
{
	float: right;
}

/*
     FILE ARCHIVED ON 12:36:29 Nov 20, 2012 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 22:05:18 Jul 15, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 67.391
  exclusion.robots: 0.062
  exclusion.robots.policy: 0.054
  RedisCDXSource: 0.625
  esindex: 0.007
  LoadShardBlock: 49.048 (3)
  PetaboxLoader3.datanode: 54.958 (4)
  load_resource: 341.994
  PetaboxLoader3.resolve: 331.548
*/