a.new
{
	color: red;
}

.editsection
{
	float: right;
}

/*
     FILE ARCHIVED ON 05:06:46 Dec 07, 2018 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 20:39:54 Jul 15, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 118.887
  exclusion.robots: 0.074
  exclusion.robots.policy: 0.066
  cdx.remote: 0.053
  esindex: 0.009
  LoadShardBlock: 89.123 (3)
  PetaboxLoader3.datanode: 121.388 (5)
  load_resource: 257.8 (2)
  PetaboxLoader3.resolve: 170.354 (2)
*/